* {
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

.title {
  color: #1d1c19;
  margin-top: 20px;
  font-size: 80px;
}

@media screen and (max-width: 960px) {
  .title {
    font-size: 50px;
  }
}  
  
.counterDiv {
  color: #1d1c19;
  margin: 50px;
  font-size: 65px;
  font-weight: 750;  
}

.decrementButton,
.incrementButton {
  color: #1d1c19;
  background: #ffc5c5;
  margin: 10px;
  font-size: 50px;
  border-radius: 10px;
  cursor: pointer;
  width: 80px;
  height: 80px; 
  border: 2px solid;
  transition: 0.1s;
}
  
.resetButton {
  color: #1d1c19;
  background: #ffffff;
  margin: 50px;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid;
  transition: 0.1s;
} 
  
.decrementButton:hover,
.resetButton:hover,
.incrementButton:hover {
  background-color: #e5edff;
 }